{% extends "layout.html"%} {% block content%}


<!--<div class="row">
    <div class="col-8 mx-auto">

        

        <div class=" shadow rounded overflow-hidden">
            <div class="px-4 pt-0 bg-dark ">
                <div class="media align-items-end profile-header">
                    <img class=" rounded-circle" src="{{j.image}}" style="width:200px; height:200px">
                    <div class="media-body text-white" style="transform:translateY(-30%)">

                        <h1 class=" ml-10" style="text-shadow: 2px 1px 1px #7d7d7d;"> {{ j.username }}</h1>
                       

                    </div>
                </div>
            </div>

            
            <br>
            <div class="row" style="background:white">
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">About</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-2" style="padding:2%">
                        {{j.about}}
                            
                        </div>
                    </div>
                </div>


                <div class="py-4 px-4">

                    

                        <div class="col-lg-5 mb-2 pr-lg-1" style="padding:2%; margin-left:2%">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h5 class="mb-0 text-center">Interests</h5>
                            </div>
                            <span class="badge badge-pill" style="background-color:#e9ecef;font-size:11px">{{j.genres}}</span>
                             
                            <br><br>
                            

                            <br> <br>
                            <br> <br>
                            
                        </div>
                        
                        
                   


                    <br>


                    <br><br>


                    
                    


                </div>
                {% if bookShelf %}
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Bookshelf</h5>
                </div>
                
                <div class="row row-cols-1 row-cols-md-3">
                    {% for i in bookShelf %}
                    <div class="col mb-4">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.author}}</p>
                          <a href="{{ url_for('requestUpdate', requestId = requestId, exchangedbook = i.id)}}" class="btn btn-primary">Exchange</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif%}
                
            </div>


        </div>

    </div>
</div>-->
<div class="row">
    <div class="col-8 mx-auto">
  
        <!-- Profile widget -->
      
        <div class=" shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark " style="height:200px;">
                <div class="media">
                  
                    <div class="profile mr-3"><img class=" rounded-circle" src="{{j.image}}" style="width:130px; height:130px; margin-top:120px"><!--<img 
                                                   style="margin-top:120px;"class="rounded mb-2 img-thumbnail" src="{{j.image}}" alt="..." width="130" >--> </div>
                  
                    <div class="media-body mb-0 text-white"style="margin-top:130px;">
                        <h4 class="mt-0 mb-0" >{{ j.username }}</h4>
                        <p class="small mb-9 ">{{j.email}}</p>
                    </div>
                </div>
            </div>
  
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                
            </div>
  <br>
            
          <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">About</h5>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-2 pr-lg-1">
                      {{j.about}}
                </div>
  </div>
                </div>
                <br.>
                <br>
  
                <div class="py-4 px-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <h5 class="mb-0">Interests</h5>
                  </div>
                  <div class="row">
                      <div class="col-lg-12 mb-2 pr-lg-1">
                        <span class="badge badge-pill" style="background-color:#e9ecef;font-size:11px">{{j.genres}}</span>
                  </div>
    </div>
                  </div>
                  <br>
                  <br>
                  {% if bookShelf %}
                <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <h5 class="mb-0">Bookshelf</h5>
                </div>

                <div class="row">
                  {% for i in bookShelf %}
                  <div class="container col-lg-4 col-sm-6">
                      <div class="card" style="width: 18rem;">
                                  
                                  <div class="card-body">
                                    <h5 class="card-title">{{i.title}}</h5>
                                    <p class="card-text">{{i.author}}</p>
                                    <a href="{{ url_for('requestUpdate', requestId = requestId, exchangedbook = i.id)}}" class="btn btn-dark" style="color:white">Exchange</a>
                                  </div>
                      </div>
                  </div>
                  {% endfor %}
                </div>

              </div>
              {% endif %}
<br><br>
<button type="submit" class="btn  btn-dark" style="margin-left: 40%">
    <a href="{{ url_for('requestUpdate', requestId = requestId, exchangedbook = 0)}}"
    style="color:white">Not Interested</a></button>
<br>
<br>
{% endblock%}
