{% extends "layout.html"%} {% block content%}


<div class="row">
    <div class="col-8 mx-auto">

        <!-- Profile widget -->

        <div class=" shadow rounded overflow-hidden">
            <div class="px-4 pt-0 bg-dark ">
                <div class="media align-items-end profile-header">
                    <img class=" rounded-circle" src="{{j.image}}" style="width:200px; height:200px">
                    <div class="media-body text-white" style="transform:translateY(-30%)">

                        <h1 class=" ml-10" style="text-shadow: 2px 1px 1px #7d7d7d;"> {{ j.username }}</h1>
                        &nbsp;&nbsp; <p class="small mb-4"> {{j.email}}</p>

                    </div>
                </div>
            </div>

            
            <br>
            <div class="row" style="background:white">
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">About</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-2" style="padding:2%">
                        {{j.about}}
                            
                        </div>
                    </div>
                </div>


                <div class="py-4 px-4">

                    

                        <div class="col-lg-5 mb-2 pr-lg-1" style="padding:2%; margin-left:2%">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h5 class="mb-0 text-center">Interests</h5>
                            </div>
                            <span class="badge badge-pill" style="background-color:#e9ecef;font-size:11px">{{j.genres}}</span>
                             
                            <br><br>
                            

                            <br> <br>
                            <br> <br>
                            
                        </div>
                        
                        
                   


                    <br>


                    <br><br>


                    
                    


                </div>
                {% if isSamePerson == 'True' %}
                {% if bookShelf %}
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Bookshelf</h5>
                </div>
                
                <div class="row row-cols-1 row-cols-md-3">
                    {% for i in bookShelf %}
                    <div class="col mb-4">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.author}}</p>

                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif%}
        

                {% if nowReading %}
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Now Reading</h5>
                </div>
                
                <div class="row row-cols-1 row-cols-md-3">
                    {% for i in nowReading  %}
                    <div class="col mb-4">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.author}}</p>
                          <a href="{{ url_for('returnBook', book_id = i.id)}}" class="btn btn-primary">Return</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif%}
                {% endif%}
                {% if isSamePerson == 'False' %}
                {% if bookShelf %}
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Bookshelf</h5>
                </div>
                
                <div class="row row-cols-1 row-cols-md-3">
                    {% for i in bookShelf %}
                    <div class="col mb-4">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.author}}</p>
                          <a href="{{ url_for('requested', id= j.id, book_name = i.title)}}" class="btn btn-primary">Request</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif%}
        

                {% if nowReading %}
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Now Reading</h5>
                </div>
                
                <div class="row row-cols-1 row-cols-md-3">
                    {% for i in nowReading  %}
                    <div class="col mb-4">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.author}}</p>
                          
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif%}
                {% endif%}
                
            </div>


        </div>

    </div>
</div>


{% endblock%}
